
  .Message {
    margin-top: 1.25rem;
    &.leave{
      opacity: 1;
    }
    &.appear{
      opacity: 0;
    }
    &.fade-in{
      animation: entry-animation .5s linear forwards;
      -webkit-animation: entry-animation .5s linear forwards;
      -o-animation: entry-animation .5s linear forwards;
      -moz-animation: entry-animation .5s linear forwards;
      opacity: 1;
    }
    .message-header {
      margin-bottom: 1rem;
      canvas {
        border-radius: 100%;
        float: left;
        height: 2rem;
        width: 2rem;
      }
      h5{
        font-family: 'Gotham Medium', Arial, 'Helvetica Neue', Helvetica, sans-serif;
      }
        .message-name {
          font-family: 'Gotham Medium', Arial, 'Helvetica Neue', Helvetica, sans-serif;
          display: block;
          font-size: 0.8rem;
          margin-bottom: 0.25rem;
          padding-left: 2.5rem;
        }
        .message-time {
          font-family: 'Gotham Medium', Arial, 'Helvetica Neue', Helvetica, sans-serif;
          color: hsl(216, 8%, 55%);
          display: block;
          font-size: 0.8rem;
          padding-left: 2.5rem;
        }
    }
    .message-body {
      font-family: 'Gotham Medium', Arial, 'Helvetica Neue', Helvetica, sans-serif;
      margin-bottom: 1rem;
      color: hsl(216, 8%, 55%);
      font-size: .8rem;
      line-height: 1.5;
    }
  .message-footer {
    border-bottom: 1px solid hsl(216, 8%, 88%);
    padding-bottom: .75rem;

    .comments-count {
      font-family: 'Gotham Medium', Arial, 'Helvetica Neue', Helvetica, sans-serif;
      color: hsl(216, 8%, 55%);
      display: block;
      font-size: 0.8rem;
    }
    .message-topics{
      margin-bottom: 1rem;
      height: 1.6rem;
      .topic{
        font-family: 'Gotham Medium', Arial, 'Helvetica Neue', Helvetica, sans-serif;
        font-weight: 400;
        letter-spacing: 0.01em;
        background-color: white;
        font-size: .6rem;
        color: #838a95;
        text-transform: uppercase;
        border: 1px solid #dee0e3;
        border-radius: .25rem;
        padding: .4rem;
        margin-right: .5rem;
      }
    }
  }
}

  .Comment {
    padding-top: 1.25rem;
    background-color: hsl(216, 8%, 98%);;
    .comment-header {
      margin-left: .25rem;
      margin-bottom: 1rem;
      canvas {
        border-radius: 100%;
        float: left;
        height: 2rem;
        width: 2rem;
      }

      .comment-name {
        font-family: 'Gotham Medium', Arial, 'Helvetica Neue', Helvetica, sans-serif;
        display: block;
        font-size: 0.8rem;
        margin-bottom: 0.25rem;
        padding-left: 2.5rem;
      }
      .comment-time {
        font-family: 'Gotham Medium', Arial, 'Helvetica Neue', Helvetica, sans-serif;
        color: hsl(216, 8%, 55%);
        display: block;
        font-size: 0.8rem;
        padding-left: 2.5rem;
      }
    }
    .comment-body {
      font-family: 'Gotham Medium', Arial, 'Helvetica Neue', Helvetica, sans-serif;
      margin-bottom: 1rem;
      margin-left: .25rem;
      color: hsl(216, 8%, 55%);
      font-size: .8rem;
      line-height: 1.5;
      margin-bottom: 1rem;
      a{
        font-family: 'Gotham Medium', Arial, 'Helvetica Neue', Helvetica, sans-serif;
        margin-bottom: 1rem;
        color: hsl(197, 100%, 42%);
        font-size: .8rem;
        line-height: 1.5;
        margin-bottom: 1rem;
      }
    }
    .comment-footer {
      border-bottom: 1px solid hsl(216, 8%, 88%);
      padding-bottom: .75rem;
    }
  }

  @keyframes entry-animation {
    0% {
      opacity: 0;
      transform: translateY(100px) scale(1.03);
      -webkit-transform: translateY(100px) scale(1.03);
      -moz-transform: translateY(100px) scale(1.03);
      -o-transform: translateY(100px) scale(1.03);
    }

    50% {
      opacity: 0.75;
      transform: translateY(30px) scale(1.01);
      -webkit-transform: translateY(30px) scale(1.01);
      -moz-transform: translateY(30px) scale(1.01);
      -o-transform: translateY(30px) scale(1.01);
      }

    80% {
      opacity: 0.90;
      transform: translateY(10px) scale(1.002);
      -webkit-transform: translateY(10px) scale(1.002);
      -moz-transform: translateY(10px) scale(1.002);
      -o-transform: translateY(10px) scale(1.002);
    }

    100% {
      opacity: 1;
      transform: translateY(0px) scale(1);
      -webkit-transform: translateY(0px) scale(1);
      -moz-transform: translateY(0px) scale(1);
      -o-transform: translateY(0px) scale(1);
    }
  }